/* ----- global styles ----- */
* {
  box-sizing: border-box;
}

body {
  color: #555;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

#body-content {
  background: #fff;
  z-index: -1;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Chelsea Market', 'Poppins', sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  margin: 0 0 18px;
}

.button {
  border-radius: 45px;
  display: inline-block;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
  text-transform: uppercase;
  vertical-align: middle;
}

.button::after {
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 11px;
}

/* ----- cookie notification styles ----- */
.cookie-notification {
  background: #972585;
  color: #fff;
  display: none;
  padding: 30px 15px;
  text-align: center;
}

.cookie-notification p {
  margin: 0 auto 20px;
}

.cookie-notification a {
  color: #71c6c3
}

.cookie-notification a:hover {
  text-decoration: underline;
}

.cookie-notification .button {
  background: #fff;
  color: #972585;
}

.cookie-notification .button:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .cookie-notification p {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .cookie-notification p {
    max-width: 970px;
  }
}

@media (min-width: 1260px) {
  .cookie-notification p {
    max-width: 1230px;
  }
}

/* ----- header styles ----- */

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 145px;
  padding: 15px;
}

.mobile-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburger-icon {
  position: relative;
  width: 45px;
  height: 50px;
}

.hamburger-icon span {
  transition:
    opacity 250ms ease-in-out 450ms,
    top 250ms ease-in-out 450ms,
    transform 450ms ease-in-out;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  background: #972585;
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
}

.hamburger-top {
  top: 13px;
  left: 0;
}

.snapjs-right .hamburger-top {
  opacity: 0;
  top: -10%;
}

.hamburger-middle {
  top: 23px;
  left: 0;
}

.snapjs-right .hamburger-middle {
  transform: rotate(135deg);
}

.snapjs-right .hamburger-spin {
  transform: rotate(225deg);
}

.snapjs-right .hamburger-middle,
.snapjs-right .hamburger-spin {
  transition: transform 450ms ease-in-out 250ms;
}

.hamburger-bottom {
  top: 33px;
  left: 0;
}

.snapjs-right .hamburger-bottom {
  opacity: 0;
  top: 110%;
}

.snapjs-right .hamburger-top,
.snapjs-right .hamburger-bottom {
  transition:
    opacity 250ms ease-in-out,
    top 250ms ease-in-out;
}

.line-number {
  display: none;
}

.form-container {
  display: flex;
  grid-column: 1 / -1;
}

.search-bar {
  position: relative;
  padding-top: 15px;
  width: 100%;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 52px;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: inherit;
  font-size: 14px;
  padding: 8px 20px;
  width: 100%;
  height: 52px;
}

.search-input::placeholder {
  color: #333;
}

.search-input:focus {
  border-color: #5bc0de;
  box-shadow:
    inset 0 3px 3px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(91, 192, 222, 0.6);
  outline: 0;
}

.search-button {
  background: transparent;
  border: 0;
  color: #412148;
  position: absolute;
  top: 26px;
  right: 7px;
}

.search-button:focus {
  outline: 0;
}

.search-button i {
  font-size: 28px;
  transform: scaleX(-1);
}

@media (min-width: 768px) {
  header {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 750px;
  }

  .header-logo {
    grid-column: 1 / 2;
  }

  .mobile-menu {
    grid-column: -2 / -1;
  }

  .line-number {
    display: flex;
    margin: 15px auto 0;
    padding: 10px 15px;
  }

  .line-icon {
    display: none;
  }

  .line-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
  }

  .line-text strong {
    color: #972585;
    font-weight: 700;
    text-transform: uppercase;
  }

  .search-bar {
    padding: 5px 30px 0;
  }

  .search-button {
    top: 16px;
    right: 37px;
  }
}

@media (min-width: 992px) {
  header {
    grid-template-columns: repeat(5, 1fr);
    max-width: 970px;
  }

  .header-logo {
    grid-column: auto;
  }

  .mobile-menu {
    display: none;
  }

  .line-number {
    align-items: center;
    margin: 0;
    padding: 0 15px;
  }

  .form-container {
    align-items: center;
    grid-column: -2 / -1;
  }

  .search-bar {
    padding: 15px;
    vertical-align: middle;
  }

  .search-button {
    top: 26px;
    right: 22px;
  }
}

@media (min-width: 1260px) {
  header {
    min-width: 1230PX;
  }

  .line-icon {
    background: linear-gradient(45deg, #972585, #412148 100%);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 15px;
    width: 52px;
    height: 52px;
  }

  .line-icon .fa-phone {
    transform: scaleX(-1);
  }
}

/* ----- mobile nav styles ----- */
.mobile-sidebar {
  background: #412148;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  width: 266px;
  z-index: -5;
}

.mobile-nav,
.mobile-sub-nav,
.mobile-sub-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-sub-nav {
  display: none;
}

.mobile-nav a {
  background: #7a1e6c;
  border-radius: 48px;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 20px;
  padding: 12px 20px;
}

.mobile-sub-nav a {
  background: rgba(255,255,255,0.15);
  font-size: 13px;
}

.mobile-sub-nav ul a {
  background: rgba(255,255,255,0.05);
}

.mobile-sub-nav ul a::before {
  content: '\00bb';
  padding-right: 6px;
}

.mobile-line-number {
  display: flex;
  align-items: center;
  margin: 20px 0 0;
}

.mobile-line-icon {
  background: #fff;
  border-radius: 50%;
  color: #412148;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 15px;
  width: 52px;
  height: 52px;
}

.mobile-line-icon .fa-phone {
  transform: scaleX(-1);
}

.mobile-line-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 20px;
}

.mobile-line-text strong {
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .mobile-line-number {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-sidebar {
    display: none;
  }
}

/* ----- nav styles ----- */

.top-navigation {
  display: none;
}

@media (min-width: 992px) {
  .top-navigation {
    background: #412148;
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
  }

  .top-navigation::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    pointer-events: none;
  }

  .top-navigation a {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
  }

  .top-navigation a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .top-navigation ul {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 970px;
  }

  .top-navigation li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
  }

  .top-navigation li {
    display: inline-block;
    flex-grow: 1;
    position: relative;
  }

  .donate-link {
    background: #db092e;
  }

  .top-navigation .sub-nav {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    display: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    min-width: 160px;
    z-index: 10;
  }

  .top-navigation li:nth-last-child(2) .sub-nav,
  .top-navigation li:last-child .sub-nav {
    left: auto;
    right: 0;
  }

  .top-navigation .sub-nav ul {
    margin: 0;
    padding: 0;
  }

  .sub-nav li {
    display: block;
  }

  .sub-nav li a::before {
    content: '\00bb';
    padding-right: 6px;
  }

  .sub-nav li a {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding: 3px 20px;
    text-transform: none;
    white-space: nowrap;
  }

  .sub-nav li:hover > a {
    background-color: #e1e8ed;
  }

  .sub-nav li ul a {
    padding-left: 40px;
  }

  .sub-nav li a,
  .sub-nav li:first-child,
  .sub-nav li:last-child {
    border: none;
  }

  .top-navigation li:hover ul {
    display: block;
  }
}

@media (min-width: 1260px) {
  .top-navigation a {
    font-size: 14px;
  }

  .top-navigation ul {
    max-width: 1230px;
  }
}

/* ----- hero styles ----- */

.hero-left {
  background-image:
    linear-gradient(rgba(151, 37, 133, 0.8), rgba(151, 37, 133, 0.8)),
    url('../img/hero-left.jpg');
  background-position: center center;
  background-size: cover;
  color: #fff;
  padding: 50px 15px;
  text-align: center;
}

.hero-right {
  display: none;
}

.hero h1 {
  font-family: 'Chelsea Market', 'Poppins', sans-serif;
  font-size: 48px;
  letter-spacing: 0.75px;
  line-height: 1.1;
  margin: 0 0 18px;
}

.hero p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}

.hero .button {
  background: #fff;
  border-radius: 63px;
  color: #972585;
  height: 63px;
  font-size: 18px;
  line-height: 63px;
  padding: 0 28px;
}

.hero .button::after {
  content: '';
  margin: 0;
}

@media (min-width: 768px) {
  .hero-left {
    padding: 50px;
  }
}

@media (min-width: 992px) {
  .hero {
    display: flex;
    height: 435px;
    margin: 0;
    padding: 0 0 44px;
    position: relative;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero-left {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65)),
      url('../img/hero-left.jpg');
    width: 50%;
  }

  .hero-center {
    background-image: url('../img/circle.png');
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 50px;
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    width: 514px;
    height: 514px;
  }

  .hero .button {
    align-self: center;
  }

  .hero-right {
    background-image:
      linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65)),
      url('../img/hero-right.jpg');
    background-position: center center;
    background-size: cover;
    display: block;
    width: 50%;
  }
}

/* ----- feature styles ----- */

.features {
  background: #fff;
  display: grid;
  grid-gap: 30px;
  padding: 50px 15px;
}

.features article {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.features article:first-child {
  background: #972585;
}

.features article:first-child .button {
  color: #972585;
}

.features article:last-child {
  background: #412148;
}

.features article:last-child .button {
  color: #412148;
}

.feature-img {
  background-position: center center;
  background-size: cover;
  border-bottom-left-radius: 100% 20px;
  border-bottom-right-radius: 100% 20px;
  position: relative;
  width: 100%;
  height: 380px;
}

.features article:first-child .feature-img {
  background-image: url('../img/feature-1.png');
}

.features article:last-child .feature-img {
  background-image: url('../img/feature-2.jpg');
}

.feature-content {
  color: #fff;
  padding: 30px;
}

.feature-content p {
  line-height: 24px;
  margin-bottom: 20px;
}

.feature-content .button {
  background: #fff;
}

@media (min-width: 768px) {
  .features {
    grid-template-rows: repeat(2, 275px);
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 750px;
  }

  .features article {
    flex-direction: row;
  }

  .feature-img {
    border-top-right-radius: 10% 137px;
    border-bottom-right-radius: 10% 137px;
    border-bottom-left-radius: 0%;
    min-width: 245px;
    width: 245px;
    height: auto;
  }

  .feature-content {
    align-self: center;
  }
}

@media (min-width: 992px) {
  .features {
    padding: 70px 0px 50px;
    max-width: 970px;
  }

  .feature-img {
    min-width: 185px;
    width: 185px;
  }
}

@media (min-width: 1260px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 310px;
    max-width: 1230px;
  }

  .feature-img {
    min-width: 245px;
    width: 245px;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .feature-content .button {
    margin-top: auto;
    align-self: flex-start;
  }
}

/* ----- carousels styles ----- */

.carousels {
  background: #e1e8ed;
  padding: 50px 15px;
}

.carousels-container {
  display: flex;
  flex-direction: column;
}

.carousel {
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}

.events {
  margin-bottom: 0;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-card  {
  border-radius: 3px;
  overflow: hidden;
  transition: background 0.2s;
  height: 100%;
}

.carousel-tag {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0 3px;
  text-transform: uppercase;
  z-index: 10;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.owl-stage,
.owl-stage-outer,
.owl-item {
  height: 100%;
}

.owl-dots {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  background: none;
  border: 2px solid transparent;
  position: relative;
  width: 16px;
  height: 16px;
  margin: 5px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: none;
  border-color: #fff;
}

.owl-theme .owl-dots .owl-dot span::after {
  content: '';
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 25px;
}

.carousel h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 18px;
}

.carousel-date {
  display: inline-block;
  line-height: 24px;
  margin: 0 0 20px;
}

.carousel-date::before {
  content: '\f017';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 7px;
}

.carousel p {
  line-height: 24px;
  margin: 0 0 20px;
}

.carousel .button {
  align-self: flex-start;
  background: #fff;
  margin-top: auto;
}

.news .carousel-tag,
.news .carousel-card {
  background: #db092e;
}

.news .carousel-card:hover {
  background: #720519;
}

.news .button {
  color: #db092e;
}

.stories .carousel-tag,
.stories .carousel-card {
  background: #972585;
}

.stories .carousel-card:hover {
  background: #45113d;
}

.stories .button {
  color: #972585;
}

.events .carousel-tag,
.events .carousel-card {
  background: #ec6708;
}

.events .carousel-card:hover {
  background: #893c05;
}

.events .button {
  color: #ec6708;
}

@media (min-width: 768px) {
  .carousels-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 750px;
  }

  .news {
    padding-right: 15px;
  }

  .news .carousel-tag {
    right: 23px;
  }

  .stories {
    padding-left: 15px;
  }

  .news, .stories {
    width: 50%;
  }

  .events {
    width: 100%;
  }

  .events img {
    min-height: 400px;
  }
}

@media (min-width: 992px) {
  .carousels-container {
    align-items: stretch;
    max-width: 970px;
  }

  .carousel {
    margin-bottom: 0;
  }

  .news,
  .stories,
  .events {
    width: 33.33%;
  }

  .stories {
    padding: 0 15px;
  }

  .stories .carousel-tag {
    right: 23px;
  }

  .events {
    padding-left: 15px;
  }

  .carousel img,
  .events img {
    min-height: 165px;
  }
}

@media (min-width: 1260px) {
  .carousels-container {
    max-width: 1230px;
  }

  .carousel img {
    min-height: 215px;
  }
}

/* ----- calls styles ----- */

.calls {
  background: #fff;
  display: grid;
  padding: 50px 15px;
  grid-gap: 50px;
  text-align: center;
}

.calls article {
  display: flex;
  flex-direction: column;
}

.call-img {
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto 30px;
  width: 140px;
  height: 140px;
}

.call-doctor {
  background-image: url('../img/call-1.jpg');
}

.call-finder {
  background-image: url('../img/call-2.jpg');
}

.call-ground {
  background-image: url('../img/call-3.jpg');
}

.call-donate {
  background-image: url('../img/call-4.jpg');
}

.call-content h2 {
  color: #412148;
  margin: 0 0 13px;
}

.call-content p {
  margin: 0 0 15px;
}

.call-content .button {
  background: #ec6708;
  color: #fff;
}

@media (min-width: 768px) {
  .calls {
    margin: 0 auto;
    text-align: left;
    max-width: 750px;
  }

  .calls article {
    flex-direction: row;
    align-items: center;
  }

  .call-img {
    margin: 0 25px 0 0;
    min-width: 140px;
  }
}

@media (min-width: 992px) {
  .calls {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;
    max-width: 970px;
  }
}

@media (min-width: 1260px) {
  .calls {
    max-width: 1230px;
  }
}

/* ----- footer styles ----- */

footer {
  background: #412148;
  color: #fff;
}

.footer-container {
  display: grid;
  grid-gap: 50px;
  padding: 48px 15px 43px;
}

footer a {
  color: #fff;
}

footer h4 {
  border-bottom: 3px solid #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 30px;
  padding: 0 0 8px;
  text-transform: uppercase;
}

footer p {
  margin-bottom: 20px;
}

footer .button {
  background: #ec6708;
  color: #fff;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-list li {
  line-height: 30px;
  height: 30px;
}

.link-list li::before {
  content: '\00bb';
  padding-right: 6px;
}

.social-list {
  padding-top: 12px;
}

.social-list li {
  display: inline-block;
  font-size: 33px;
  margin-right: 11px;
}

@media (min-width: 768px) {
  .footer-container {
    margin: 0 auto;
    max-width: 750px;
  }

  .link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .link-list li {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
    max-width: 970px;
  }

  .newsletter {
    grid-column: 1 / -1;
  }

  .link-list {
    display: block;
  }

  .link-list li {
    width: 100%;
  }
}

@media (min-width: 1260px) {
  .footer-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1230px;
  }

  .newsletter {
    grid-column: auto;
  }
}
